<strong>Parabéns, </strong>
<strong> {{student}} </strong>
<p>Matrícula efetuada com sucesso! confira os detalhes abaixo:</p>
</br>
<p>
    <strong>Cliente: </strong>{{student}}</br>
    <strong>Plano: </strong>{{namePlan}}</br>
    <strong>Tempo: {{durationPlan}} meses.</strong></br>
    <strong>Valor: </strong> R${{pricePlan}}</br>
    <strong>Inicio: </strong>{{startPlan}}</br>
    <strong>Fim: </strong>{{endPlan}}</br>
    </br>
    <small>Seja muito bem vindo, boraMalha!</small>
</p>
